#include <dt-bindings/zmk/matrix_transform.h>

/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            = <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // F7
            , <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // F3
            , <&gpio1 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // F1
            , <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // D
            , <&gpio1 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // S
            , <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // W
            , <&gpio1 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // A
            , <&gpio1 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 功能键1 (模式切换)
            , <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 功能键2 (玩家切换)
            , <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // I
            , <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // O
            , <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // P
            , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // H
            , <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // J
            , <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // K
            , <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // L
            ;
    };

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <16>;
        rows = <1>;
        map = <
            RC(0,0)  RC(0,1)  RC(0,2)  RC(0,3)  RC(0,4)  RC(0,5)  RC(0,6)  RC(0,7)
            RC(0,8)  RC(0,9)  RC(0,10) RC(0,11) RC(0,12) RC(0,13) RC(0,14) RC(0,15)
        >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "WHN 1 Layout";
        kscan = <&kscan0>;
        transform = <&default_transform>;
    };

    chosen {
        zmk,physical-layout = &physical_layout0;
        zmk,kscan = &kscan0;
        zephyr,display = &display0;
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <400000>;

    display0: display@3c {
        compatible = "solomon,ssd1306fb-i2c";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        prechargep = <0x22>;
    };
};